{% extends "layout.html" %}

{% block content %}

<section class="main" >
    
<section class="articles">
        <article>
            <h2 class="remarca2">Comportamiento del Capibara</h2>
            <br>
            <p>Los capibaras como la mayoría de los animales silvestres tienen un fuerte sentido de territorialidad. Sus actividades de pastoreo, reposo, baño y nado, reproducción y cópula se realizan dentro de un territorio o localidad que aporta una cantidad apreciable de agua.</p>
            
                <br>
                <section class="imagenes">
                    <img id="imgb" src="static/imagenes/capi3.gif" width="285px" height="185px">
                </section>
                

           </p>
       </article>
        <article>
           <h2 class="remarca2">¿Cómo cuidar a un Capibara como mascota? </h2>
            <br>
            <p>Los capibaras se benefician de un entorno que se parezca a su hábitat natural. Necesitan grandes zonas de hierba de topografía variable para pastar, varios refugios para su privacidad y descanso, y necesitan estar cerca de una gran masa de agua. Prefieren un rango de temperaturas de clima templado, entre 15 °C y 30 °C.</p>
       
                <section class="imagenes">
                    <img id="img2" src="static/imagenes/capi2.png" width="400px" height="285px">
                </section>
                
        </article>
</section>  
</section> 
<aside>
    <h3 class="remarca2">Ficha:</h3>
    <p class="parra2"> 
        <p class="remarca">Características del capibara:</p>Como mencionamos anteriormente, es un roedor de gran tamaño, un adulto puede pesar cerca de los 55 kg, pero eso no es todo, a continuación te enumeraremos 10 características del capibara que te van a interesar:

        Su cuerpo es robusto: en forma de barril, la cabeza grande y el hocico prolongado.
        Tiene patas cortas y fuertes: las delanteras poseen 4 dedos y las traseras 3, ambas con uñas gruesas y membranas interdigitales.
        Tienen un pelaje áspero: todo su cuerpo está cubierto por dicho pelaje áspero de color pardo.
        Los ojos, orejas y orificios nasales son pequeños: se ubican en la parte superior de la cabeza, de manera tal que cuando se meten al agua, les permite ver, escuchar y respirar por fuera de la superficie sin sobresalir demasiado.
        Hay dimorfismo sexual: el macho, a diferencia de la hembra, posee una protuberancia de 2 cm sobre el hocico, en la cual posee una glándula sebácea que utiliza para marcar territorio.
        Presentan glándulas sudoríparas: de hecho, son los únicos roedores que las tienen.
        Al igual que los demás roedores, sus dientes incisivos son de crecimiento continuo: por lo que deben roer constantemente para desgastarlos.
        Pueden zambullirse en el agua: cuando se sienten amenazados, suelen hacer esto para huir de sus depredadores. Si te estás preguntando qué animal se come al capibara, la respuesta la encontramos en los jaguares o los ocelotes, quienes son los mayores depredadores de este animal.
        Su cola es corta: de hecho, no se ve.
        Pueden vivir 10 años: si hablamos de que se encuentran en estado silvestre. Si están en cautiverio pueden vivir hasta 15 años.
        <br>
        <p class="remarca">Hábitat:</p>Llegados a este punto te estarás preguntando dónde vive el capibara. Lo cierto es que se trata de un mamífero nativo de América del Sur. Actualmente se encuentra distribuido en Panamá y gran parte de Sudamérica, llegando hasta la provincia de Buenos Aires en Argentina.

        Es noble en cuanto a tipos de ecosistemas, lo podemos encontrar en sabanas, bosques y selvas, pastizales y matorrales, siempre y cuando el lugar cumpla con las tres características fundamentales:
        <br>
        <p class="remarca">Alimentación:</p>Es un animal herbívoro, justamente capibara en guaraní significa “señor del pasto”. Se alimenta principalmente de plantas acuáticas, gramíneas y otras hierbas palustres. Pero también consumen flores, frutos y semillas, y utiliza la corteza de los árboles para roer y desgastar sus dientes incisivos.   </p>
    <section class="imagenes">
        <img id="imgb"  src="static/imagenes/capi1.png" width="285px" height="185px">
    </section>
    
      
</aside>
{% endblock %}   