{% extends "layout.html" %}

{% block content %}
<section class="main" >
    
<section class="articles">
        <article>
            <h2 class="remarca2">¿Cúal es nuestra vision?</h2>
            <br>
            <p>Somos un equipo con mas de 30 años de servicio,nuestro amor y servicio van de la mano.En este equipo, estamos unidos por una pasión compartida: el amor y el respeto por todos los seres vivos. Creemos firmemente en proporcionar un entorno seguro, amoroso y enriquecedor para cada uno de nuestros amigos de cuatro patas, alados y de otros tipos. Cada animal que llega a nuestro cuidado es tratado con el mismo amor y dedicación que daríamos a nuestros propios compañeros.
                <br>
                <br>
                <img src="static/imagenes/huella.gif" width="185px" height="185px">
                <img id="ip2" src="static/imagenes/perrito.png" width="285px" height="185px">

           </p>
       </article>
        <article>
           <h2 class="remarca2">¿Qué buscamos? </h2>
            <br>
            <p><p class="remarca">Bienestar animal:</p> El equipo busca proporcionar un entorno seguro, saludable y enriquecedor para todos los animales bajo su cuidado. Esto implica garantizar que tengan acceso a alimentos adecuados, atención veterinaria cuando sea necesario, espacio para moverse y jugar, así como interacción social y afecto.
                <br>
                <br>
                <p class="remarca">Protección:</p> El equipo está comprometido con la protección de los animales contra cualquier forma de abuso, negligencia o maltrato. Esto puede implicar trabajar en estrecha colaboración con organizaciones de rescate, autoridades locales y otros grupos para rescatar, rehabilitar y reubicar animales en situaciones de peligro o abuso.
                <br>
                <br>
                <p class="remarca">Educación y sensibilización:</p> El equipo busca educar al público sobre la importancia del cuidado adecuado de los animales, los problemas de bienestar animal y cómo pueden contribuir a hacer del mundo un lugar mejor para todas las especies. Esto puede incluir programas de educación comunitaria, eventos de sensibilización y recursos educativos.
                <br>
                <br>
                <p class="remarca">Promoción de la adopción:</p> El equipo busca encontrar hogares amorosos y permanentes para los animales que están listos para ser adoptados. Esto implica la promoción de adopciones responsables, la realización de eventos de adopción y la evaluación cuidadosa de los posibles adoptantes para garantizar el bienestar a largo plazo de los animales.</p>
        
        </article>
</section>  
</section> 
<aside>
    <h3 class="remarca">¡Bienvenidos a Huella Libre¡</h3>
    <p class="parra2"> 
        En Huella Libre, nos enorgullece darle la bienvenida a nuestras instalaciones dedicadas al cuidado y la protección de nuestros amigos peludos, emplumados y escamosos. Ubicados en el corazón de la naturaleza, nuestras instalaciones ofrecen un oasis de amor y compasión para todos los seres vivos que nos visitan. Con un equipo dedicado de expertos en cuidado animal, estamos comprometidos a brindar un ambiente seguro, cálido y acogedor para cada uno de nuestros huéspedes. Estamos emocionados de tenerlos aquí y esperamos trabajar juntos para promover el bienestar y la felicidad de todos los habitantes de cuatro patas. <br><br>¡Bienvenidos a Huella Libre, donde cada paso cuenta en nuestro camino hacia un mundo mejor para todos los seres vivos!
        <br>
        Dirección:
        Huella Libre Animal Care Center
        Calle Pata Amistosa, N° 123
        País de las Mascotas
    </p>
    <section class="imagenes">
        <img id="imgi" src="static/imagenes/perrito2.png" width="285px" height="185px">
        <img id="imgi" src="static/imagenes/gato.png" width="285px" height="185px">
    </section>
    
      
</aside>
{% endblock %}